* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin-top: -70px;
  position: relative;
  background-image: url("../img/bg-patterns.png");
  background-repeat: repeat;
  background-position: center;
  background-size: 10%;
}
@media (max-width: 1350px) {
  body {
    margin-top: 0px;
  }
}

.container {
  max-width: 90%;
  width: 90%;
  height: auto;
  margin: 0px auto;
}

.active {
  position: relative;
  z-index: 2;
}
.active::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #FF867E;
  bottom: 3px;
}

.burger-menu-active {
  transform: translateY(0px) !important;
}

.isPopped {
  display: none;
}

@font-face {
  font-family: "Space Grotesk" format("truetype");
  src: url("../fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
  font-display: swap;
}
@media (max-width: 1350px) {
  .blue-ball-icon, .purple-ball-icon, .red-ball-icon {
    display: none;
  }
}
header {
  width: 90%;
  max-width: 1320px;
  margin: 0px auto;
  margin-top: 45px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-icon img {
  display: block;
  max-width: 100%;
  height: auto;
}
header .header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  border-radius: 6px;
  border: 3px solid #000;
  padding: 25px 32px;
}
header .header-nav .nav-link {
  position: relative;
}
header .header-nav .nav-link .link {
  text-decoration: none;
  color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .header-nav .nav-link .link::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 0%;
  height: 6px;
  background-color: #FF867E;
  bottom: 3px;
  transition: 0.4s ease;
}
header .header-nav .nav-link .link:hover::before {
  width: 100%;
}
header .burger-menu-open {
  display: none;
  transition: 0.3s ease;
}
header .burger-menu-open:hover {
  cursor: pointer;
  filter: drop-shadow(6px 3px 3px #C5A1FF);
}
header .burger-menu {
  z-index: 100;
  position: absolute;
  padding: 45px 5% !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  left: 0px;
  top: -45px;
  background-color: #ffffff;
  list-style: none;
  transition: 0.4s ease;
  transform: translateY(-500px);
}
header .burger-menu .nav-mobile-title {
  margin-bottom: 20px;
}
header .burger-menu .nav-mobile-title .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .burger-menu .nav-mobile-title .title .burger-menu-logo {
  max-width: 30%;
}
header .burger-menu .nav-mobile-title .title .burger-menu-close {
  max-width: 15%;
}
header .burger-menu .nav-link {
  position: relative;
  border-bottom: 3px dashed black;
}
header .burger-menu .nav-link .link {
  text-decoration: none;
  color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .burger-menu .nav-link .link::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 0%;
  height: 6px;
  background-color: #FF867E;
  bottom: 3px;
  transition: 0.4s ease;
}
header .burger-menu .nav-link .link:hover::before {
  width: 100%;
}
header .burger-menu .nav-mobile-icons {
  margin-top: 20px;
}
header .burger-menu .nav-mobile-icons .icons-holder {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 1200px) {
  header .header-nav {
    display: none;
  }
  header .burger-menu-open {
    display: block;
  }
  header .logo-icon {
    max-width: 30%;
  }
  header .burger-menu-open {
    max-width: 15%;
  }
}
@media (max-width: 550px) {
  header {
    margin-top: 25px !important;
  }
  header .burger-menu {
    padding: 25px 5% !important;
    top: -25px !important;
  }
  header .burger-menu .nav-mobile-title .title .burger-menu-logo {
    max-width: 100px;
  }
  header .burger-menu .nav-mobile-title .title .burger-menu-close {
    max-width: 45px;
  }
  header .burger-menu-open {
    max-width: 45px;
  }
  header .logo-icon {
    max-width: 100px;
  }
}

.hero-section {
  position: relative;
  display: inline-block;
  width: 100%;
}
.hero-section .hero-holder {
  margin: 8% auto 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hero-section .hero-holder h1 {
  flex: 0 0 100%;
  text-align: center;
  color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero-section .hero-holder h1 span {
  position: relative;
}
.hero-section .hero-holder h1 span::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 23px;
  background-color: #FF867E;
  bottom: 3px;
}
.hero-section .hero-holder h2 {
  flex: 0 0 100%;
  margin: 82px 0px 90px;
  text-align: center;
  color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero-section .hero-holder .btn-element {
  position: relative;
}
.hero-section .hero-holder .btn-element .btn {
  display: block;
  padding: 30px 55px;
  border-radius: 92px;
  border: 8px solid #000;
  background: #91D1FF;
  color: #000;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.hero-section .hero-holder .btn-element .icon {
  position: absolute;
  right: -80px;
  bottom: -40px;
}
@media (max-width: 1200px) {
  .hero-section .hero-holder .btn-element .btn {
    padding: 25px 35px;
    border: 5px solid #000;
    font-size: 22px;
  }
  .hero-section .hero-holder .btn-element .icon {
    right: -60px;
    bottom: -45px;
    scale: 0.7;
  }
}
@media (max-width: 768px) {
  .hero-section .hero-holder .btn-element .btn {
    padding: 15px 25px;
    border: 4px solid #000;
    font-size: 20px;
  }
  .hero-section .hero-holder .btn-element .icon {
    transform: scale(0.7);
    right: -60px;
    bottom: -50px;
  }
}
@media (max-width: 550px) {
  .hero-section .hero-holder .btn-element .btn {
    padding: 15px 25px;
    border: 4px solid #000;
    font-size: 16px;
  }
  .hero-section .hero-holder .btn-element .icon {
    transform: scale(0.5);
    right: -50px;
    bottom: -45px;
  }
}
.hero-section .background-elem-1 {
  position: absolute;
  bottom: -40px;
  left: 45px;
}
.hero-section .background-elem-2 {
  position: absolute;
  bottom: 20px;
  right: 0px;
}
@media (max-width: 1200px) {
  .hero-section {
    overflow: hidden;
  }
  .hero-section .hero-holder h1 {
    font-size: 52px;
  }
  .hero-section .hero-holder h2 {
    margin: 42px 0px;
    font-size: 25px;
  }
  .hero-section .background-elem-1 {
    left: -8px;
    transform: scale(0.7);
  }
  .hero-section .background-elem-2 {
    right: -85px;
    bottom: -60px;
    transform: scale(0.7);
  }
}
@media (max-width: 768px) {
  .hero-section .background-elem-1 {
    transform: scale(0.4);
    left: -90px;
    bottom: -70px;
  }
  .hero-section .background-elem-2 {
    transform: scale(0.5);
    bottom: -23%;
  }
}
@media (max-width: 550px) {
  .hero-section .hero-holder {
    margin: 50px auto;
  }
  .hero-section .hero-holder h1 {
    font-size: 25px;
  }
  .hero-section .hero-holder h2 {
    margin: 25px 0px 37px;
    font-size: 16px;
  }
  .hero-section .background-elem-2 {
    display: none;
  }
}

.subhero-section {
  width: 100%;
  background-color: #000;
}
.subhero-section .subhero-holder {
  overflow: hidden;
  padding: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 150px;
  list-style: none;
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}
.subhero-section .subhero-holder li {
  min-width: 100px;
}
.subhero-section .subhero-holder li img {
  height: auto;
  display: block;
  max-width: 100%;
  animation: scroll 60s linear infinite;
}
@media (max-width: 768px) {
  .subhero-section .subhero-holder {
    padding: 30px 0px;
  }
}
@media (max-width: 768px) {
  .subhero-section .subhero-holder {
    padding: 20px 0px;
    gap: 70px;
  }
  .subhero-section .subhero-holder li {
    min-width: 50px;
  }
  .subhero-section .subhero-holder li img {
    height: auto;
    display: block;
    max-width: 100%;
    animation: scroll 60s linear infinite;
  }
}
@media (max-width: 550px) {
  .subhero-section .subhero-holder {
    gap: 30px;
  }
}

.about-section {
  padding: 80px 0px;
}
.about-section .about-holder .about-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.about-section .about-holder .about-header h2 {
  margin-bottom: -50px;
  margin-left: -30px;
  position: relative;
  color: #000;
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-wrap: nowrap;
}
.about-section .about-holder .about-header h2::before {
  display: block;
  content: "";
  background-image: url("../img/about/about-unerline.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  right: -45px;
}
.about-section .about-holder .about-content {
  max-width: 1500px;
  margin: 150px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section .about-holder .about-content .about-text {
  display: block;
  position: relative;
}
.about-section .about-holder .about-content .about-text p {
  color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.about-section .about-holder .about-content .about-text p span {
  position: relative;
}
.about-section .about-holder .about-content .about-text p span::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 13px;
  background-color: #FFDC58;
  bottom: 3px;
}
.about-section .about-holder .about-content .about-text .blue-ball-icon {
  position: absolute;
  right: 0px;
  bottom: -80px;
}
.about-section .about-holder .about-content .about-qr {
  margin: 100px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
}
.about-section .about-holder .about-content .about-qr .qr-code {
  border: 4px dashed black;
}
.about-section .about-holder .about-content .about-qr h3 {
  color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 120px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.about-section .about-holder .about-content .about-qr .qr-arrow {
  position: absolute;
  left: -140px;
  bottom: 50%;
}
.about-section .about-holder .about-content .about-qr .qr-circle {
  position: absolute;
  left: -85px;
  bottom: -22%;
  z-index: -1;
  scale: 0.9;
}
.about-section .about-holder .about-content .about-btn {
  margin-left: auto;
  position: relative;
}
.about-section .about-holder .about-content .about-btn .btn {
  display: block;
  padding: 30px 55px;
  border-radius: 92px;
  border: 8px solid #000;
  background: #91D1FF;
  color: #000;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.about-section .about-holder .about-content .about-btn .icon {
  position: absolute;
  right: -80px;
  bottom: -40px;
}
@media (max-width: 1200px) {
  .about-section .about-holder .about-content .about-btn .btn {
    padding: 25px 35px;
    border: 5px solid #000;
    font-size: 22px;
  }
  .about-section .about-holder .about-content .about-btn .icon {
    right: -60px;
    bottom: -45px;
    scale: 0.7;
  }
}
@media (max-width: 768px) {
  .about-section .about-holder .about-content .about-btn .btn {
    padding: 15px 25px;
    border: 4px solid #000;
    font-size: 20px;
  }
  .about-section .about-holder .about-content .about-btn .icon {
    transform: scale(0.7);
    right: -60px;
    bottom: -50px;
  }
}
@media (max-width: 550px) {
  .about-section .about-holder .about-content .about-btn .btn {
    padding: 15px 25px;
    border: 4px solid #000;
    font-size: 16px;
  }
  .about-section .about-holder .about-content .about-btn .icon {
    transform: scale(0.5);
    right: -50px;
    bottom: -45px;
  }
}
@media (max-width: 1200px) {
  .about-section .about-holder .about-header .number-icon {
    max-width: 75px;
  }
  .about-section .about-holder .about-header h2 {
    font-size: 55px;
    margin-bottom: -35px;
    margin-left: -22px;
  }
  .about-section .about-holder .about-header h2::before {
    background-size: contain;
  }
  .about-section .about-holder .about-content {
    margin-top: 80px;
    gap: 0px;
  }
  .about-section .about-holder .about-content .about-text p {
    font-size: 33px;
    font-weight: 400;
  }
  .about-section .about-holder .about-content .about-qr {
    max-width: 100%;
    margin: 80px 0px 140px;
    justify-content: space-evenly;
    gap: 20px;
  }
  .about-section .about-holder .about-content .about-qr .qr-code {
    max-width: 40%;
  }
  .about-section .about-holder .about-content .about-qr h3 {
    font-size: 85px;
  }
  .about-section .about-holder .about-content .about-qr .qr-arrow {
    scale: 0.6;
    left: -110px;
    bottom: 25%;
  }
  .about-section .about-holder .about-content .about-qr .qr-circle {
    left: -91px;
    bottom: -40%;
    scale: 0.7;
  }
  .about-section .about-holder .about-content .about-btn {
    margin-left: unset;
  }
}
@media (max-width: 768px) {
  .about-section .about-holder .about-content .about-qr .qr-code {
    max-width: 40%;
  }
  .about-section .about-holder .about-content .about-qr h3 {
    font-size: 85px;
  }
  .about-section .about-holder .about-content .about-qr .qr-arrow {
    display: none;
  }
  .about-section .about-holder .about-content .about-qr .qr-circle {
    left: -85px;
    bottom: -58%;
    scale: 0.6;
  }
  .about-section .about-holder .about-content .about-btn {
    margin-left: unset;
  }
}
@media (max-width: 550px) {
  .about-section {
    padding: 50px 0px;
  }
  .about-section .about-holder .about-header .number-icon {
    max-width: 40px;
  }
  .about-section .about-holder .about-header h2 {
    font-size: 33px;
    margin-bottom: -20px;
    margin-left: -12px;
  }
  .about-section .about-holder .about-content {
    margin-top: 60px;
  }
  .about-section .about-holder .about-content .about-text p {
    font-size: 18px;
  }
  .about-section .about-holder .about-content .about-qr {
    margin: 35px 0px 50px;
  }
  .about-section .about-holder .about-content .about-qr h3 {
    font-size: 50px;
  }
  .about-section .about-holder .about-content .about-qr .qr-arrow {
    display: none;
  }
  .about-section .about-holder .about-content .about-qr .qr-circle {
    left: -285px;
    bottom: -155%;
    scale: 0.4;
  }
  .about-section .about-holder .about-content .about-btn {
    margin-left: unset;
  }
}

.what-we-do-section {
  padding: 80px 0px;
}
.what-we-do-section .what-we-do-holder .what-we-do-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.what-we-do-section .what-we-do-holder .what-we-do-header h2 {
  margin-bottom: -50px;
  margin-left: -30px;
  position: relative;
  color: #000;
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-wrap: nowrap;
}
.what-we-do-section .what-we-do-holder .what-we-do-header h2::before {
  display: block;
  content: "";
  background-image: url("../img/what-we-do/what-we-do-underline.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  right: -45px;
}
.what-we-do-section .what-we-do-holder .what-we-do-content {
  position: relative;
  margin: 150px auto 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change {
  position: relative;
  max-width: 1500px;
  background-image: url("../img/what-we-do/what-we-do-content-border.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 6% 7%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}
.what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change .content-img {
  flex: 0 0 30%;
}
.what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change .content-img img {
  border: 3px solid black;
  display: block;
  max-width: 100%;
  height: auto;
}
.what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change .content-text {
  flex: 0 0 48%;
}
.what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change .content-text h3 {
  color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change .content-text p {
  margin-top: 50px;
  color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.what-we-do-section .what-we-do-holder .what-we-do-content .back-arrow, .what-we-do-section .what-we-do-holder .what-we-do-content .next-arrow {
  transition: 0.3s ease;
}
.what-we-do-section .what-we-do-holder .what-we-do-content .back-arrow:hover, .what-we-do-section .what-we-do-holder .what-we-do-content .next-arrow:hover {
  cursor: pointer;
  transition: 0.3s ease;
  filter: drop-shadow(10px 5px 4px #C5A1FF);
}
.what-we-do-section .what-we-do-holder .what-we-do-content .purple-ball-icon {
  position: absolute;
  top: -70px;
  left: calc(0% + 60px);
  animation: roll 10s ease infinite;
}
@media (max-width: 1500px) {
  .what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change .content-text h3 {
    font-size: 35px;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change .content-text p {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .what-we-do-section {
    padding: 0px;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-header .number-icon {
    max-width: 75px;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-header h2 {
    font-size: 55px;
    margin-bottom: -35px;
    margin-left: -22px;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-header h2::before {
    background-size: contain;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content {
    margin-top: 80px;
    gap: 0px;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content .back-arrow img, .what-we-do-section .what-we-do-holder .what-we-do-content .next-arrow img {
    display: block;
    width: 65px;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .what-we-do-section {
    padding: 0px;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content {
    margin-top: 80px;
    gap: 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change {
    padding: 10% 7%;
    background-image: url("../img/what-we-do/border-upright.svg");
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content .content-img {
    order: 2;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content .content-text {
    flex: 0 0 100% !important;
    order: 1;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content .content-text p {
    margin-top: 30px !important;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content .back-arrow img, .what-we-do-section .what-we-do-holder .what-we-do-content .next-arrow img {
    display: block;
    width: 85px;
    height: auto;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content .back-arrow {
    order: 2;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content .next-arrow {
    order: 3;
  }
}
@media (max-width: 768px) {
  .what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change {
    padding: 17% 6%;
    background-image: url("../img/what-we-do/border-upright-768.svg");
  }
}
@media (max-width: 550px) {
  .what-we-do-section .what-we-do-holder .what-we-do-header .number-icon {
    max-width: 40px;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-header h2 {
    font-size: 33px;
    margin-bottom: -20px;
    margin-left: -12px;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content {
    gap: 30px;
    margin-top: 60px;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change {
    padding: 0%;
    background-image: unset;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change .content-img {
    flex: 0 0 80%;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change .content-text h3 {
    font-size: 25px;
  }
  .what-we-do-section .what-we-do-holder .what-we-do-content .content-to-change .content-text p {
    font-size: 18px;
  }
}

.portfolio-section {
  padding: 80px 0px 90px;
}
.portfolio-section .portfolio-holder .portfolio-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.portfolio-section .portfolio-holder .portfolio-header h2 {
  margin-bottom: -50px;
  margin-left: -30px;
  position: relative;
  color: #000;
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-wrap: nowrap;
}
.portfolio-section .portfolio-holder .portfolio-header h2::before {
  display: block;
  content: "";
  background-image: url("../img/portfolio/portfolio-underline.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  right: -85px;
}
.portfolio-section .portfolio-holder .portfolio-card-holder {
  max-width: 1500px;
  margin: 130px auto 0px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card {
  position: relative;
  padding: 45px 45px;
  min-width: 535px;
  max-width: 536px;
  min-height: 536px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}
.portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card:hover::before {
  transition: 0.3s ease;
  filter: drop-shadow(-3.5px 4.5px 2px #8E8F87);
}
.portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card::before {
  transition: 0.3s ease;
  position: absolute;
  display: block;
  content: "";
  width: 533px;
  height: 536px;
  left: -49%;
  top: -50%;
  background-image: url("../img/portfolio/portfolio-border.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(50%, 50%);
  filter: drop-shadow(-3px 4px 0px rgba(142, 143, 135, 0.7215686275));
  pointer-events: none;
}
.portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card .card-img {
  display: block;
  max-width: 100%;
}
.portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card .card-img img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 3px solid black;
}
.portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card .card-content .content-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card .card-content .content-header h4 {
  color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card .card-content .content-header a {
  padding: 7px;
  background: #000;
  box-shadow: 4px 4px 0px 0px #8E8F87;
  transition: 0.3s ease;
}
.portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card .card-content .content-header a:hover {
  cursor: pointer;
  box-shadow: 4px 4px 0px 2px rgba(142, 143, 135, 0.7215686275);
}
.portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card .card-content p {
  margin-top: 12px;
  color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card:nth-of-type(2) {
  top: 14px;
}
.portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card:nth-of-type(3) {
  top: 9px;
}
.portfolio-section .portfolio-holder .portfolio-card-holder::-webkit-scrollbar {
  height: 6px;
}
.portfolio-section .portfolio-holder .portfolio-card-holder::-webkit-scrollbar-track {
  background: transparent;
}
.portfolio-section .portfolio-holder .portfolio-card-holder::-webkit-scrollbar-thumb {
  background: #FFDC58;
  border-radius: 4px;
}
.portfolio-section .portfolio-holder .portfolio-card-holder::-webkit-scrollbar-thumb:hover {
  background: #ffb958;
}
@media (min-width: 2000px) {
  .portfolio-section .portfolio-holder .portfolio-card-holder {
    max-width: 1920px;
  }
}
.portfolio-section .portfolio-holder .portfolio-btn-holder {
  max-width: 1500px;
  margin: 40px auto;
}
.portfolio-section .portfolio-holder .portfolio-btn-holder .portfolio-btn {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-left: auto;
  position: relative;
}
.portfolio-section .portfolio-holder .portfolio-btn-holder .portfolio-btn .btn {
  display: block;
  padding: 30px 55px;
  border-radius: 92px;
  border: 8px solid #000;
  background: #FFDC58;
  color: #000;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.portfolio-section .portfolio-holder .portfolio-btn-holder .portfolio-btn .icon {
  position: absolute;
  right: -80px;
  bottom: -40px;
}
@media (max-width: 1200px) {
  .portfolio-section .portfolio-holder .portfolio-btn-holder .portfolio-btn .btn {
    padding: 25px 35px;
    border: 5px solid #000;
    font-size: 22px;
  }
  .portfolio-section .portfolio-holder .portfolio-btn-holder .portfolio-btn .icon {
    right: -60px;
    bottom: -45px;
    scale: 0.7;
  }
}
@media (max-width: 768px) {
  .portfolio-section .portfolio-holder .portfolio-btn-holder .portfolio-btn .btn {
    padding: 15px 25px;
    border: 4px solid #000;
    font-size: 20px;
  }
  .portfolio-section .portfolio-holder .portfolio-btn-holder .portfolio-btn .icon {
    transform: scale(0.7);
    right: -60px;
    bottom: -50px;
  }
}
@media (max-width: 550px) {
  .portfolio-section .portfolio-holder .portfolio-btn-holder .portfolio-btn .btn {
    padding: 15px 25px;
    border: 4px solid #000;
    font-size: 16px;
  }
  .portfolio-section .portfolio-holder .portfolio-btn-holder .portfolio-btn .icon {
    transform: scale(0.5);
    right: -50px;
    bottom: -45px;
  }
}
@media (max-width: 1200px) {
  .portfolio-section .portfolio-holder .portfolio-header .number-icon {
    max-width: 75px;
  }
  .portfolio-section .portfolio-holder .portfolio-header h2 {
    font-size: 55px;
    margin-bottom: -35px;
    margin-left: -22px;
  }
  .portfolio-section .portfolio-holder .portfolio-header h2::before {
    background-size: contain;
  }
  .portfolio-section .portfolio-holder .portfolio-card-holder {
    margin-top: 80px;
  }
  .portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card {
    padding: 30px 45px;
    min-width: 450px;
    max-width: 450px;
    min-height: 434px;
  }
  .portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card::before {
    width: 450px;
    height: 450px;
  }
  .portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card .card-content .content-header h4 {
    font-size: 30px;
  }
  .portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card .card-content .content-header .got-to-arrow {
    padding: 5px;
  }
  .portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card .card-content p {
    font-size: 20px;
  }
  .portfolio-section .portfolio-holder .portfolio-btn-holder .portfolio-btn {
    margin: 0px auto;
  }
}
@media (max-width: 550px) {
  .portfolio-section {
    padding: 40px 0px;
  }
  .portfolio-section .portfolio-holder .portfolio-header .number-icon {
    max-width: 40px;
  }
  .portfolio-section .portfolio-holder .portfolio-header h2 {
    font-size: 33px;
    margin-bottom: -20px;
    margin-left: -12px;
  }
  .portfolio-section .portfolio-holder .portfolio-card-holder {
    margin-top: 30px;
    padding: 30px 0px 60px;
  }
  .portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card {
    padding: 30px 45px;
    min-width: 350px;
    max-width: 350px;
    min-height: 334px;
  }
  .portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card::before {
    width: 350px;
    height: 350px;
    background-image: url("../img/portfolio/border-mobile.svg");
  }
  .portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card .card-content .content-header h4 {
    font-size: 23px;
  }
  .portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card .card-content .content-header svg {
    width: 14px;
    height: 14px;
  }
  .portfolio-section .portfolio-holder .portfolio-card-holder .single-portfolio-card .card-content p {
    font-size: 18px;
  }
  .portfolio-section .portfolio-holder .portfolio-btn-holder .portfolio-btn {
    margin: 0px auto;
  }
}

.clients-section {
  padding: 80px 0px;
}
.clients-section .clients-holder .clients-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.clients-section .clients-holder .clients-header h2 {
  margin-bottom: -50px;
  margin-left: -30px;
  position: relative;
  color: #000;
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: #000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-wrap: nowrap;
}
.clients-section .clients-holder .clients-header h2::before {
  display: block;
  content: "";
  background-image: url("../img/clients/clients-underline.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  right: -100px;
}
.clients-section .clients-holder .clients-reviews-holder {
  max-width: 1500px;
  margin: 130px auto 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.clients-section .clients-holder .clients-reviews-holder .review-card {
  max-width: 900px;
  flex: 0 0 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  padding: 40px;
  border-radius: 2px;
  border: 4px solid #000;
  background: var(--White, #FFF);
  box-shadow: 11.465px 11.465px 0px 0px #BFBFB4;
  gap: 30px;
}
.clients-section .clients-holder .clients-reviews-holder .review-card:nth-of-type(1) {
  margin-right: -1%;
  transform: rotateZ(2deg);
}
.clients-section .clients-holder .clients-reviews-holder .review-card:nth-of-type(2) {
  margin-left: -1%;
  margin-top: 7%;
  transform: rotateZ(-4deg);
}
.clients-section .clients-holder .clients-reviews-holder .review-card:nth-of-type(3) {
  margin-right: -1%;
  margin-top: -7%;
  z-index: 2;
  transform: rotateZ(2deg);
}
.clients-section .clients-holder .clients-reviews-holder .review-card:nth-of-type(4) {
  transform: rotateZ(1deg) !important;
  margin-left: -1% !important;
  margin-top: 7% !important;
}
.clients-section .clients-holder .clients-reviews-holder .review-card .review-content {
  flex: 1 0 100%;
  color: var(--Dark-Gray, #181818);
  font-family: "Space Grotesk", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 145.455% */
  text-align: center;
}
.clients-section .clients-holder .clients-reviews-holder .review-card .review-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 22px;
  height: 94px;
}
.clients-section .clients-holder .clients-reviews-holder .review-card .review-header img {
  flex: 0 0 100%;
  max-width: 100px;
  max-height: 100px;
}
.clients-section .clients-holder .clients-reviews-holder .review-card .review-header h4 {
  color: var(--Dark-Gray, #181818);
  font-family: "Space Grotesk", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 145.455% */
}
.clients-section .clients-holder .clients-reviews-holder .review-card .review-header p {
  color: var(--Dark-Gray, #2B2B2B);
  font-family: "Space Grotesk", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 127.273% */
}
.clients-section .clients-holder .clients-reviews-holder .red-ball-icon {
  position: absolute;
  right: 200px;
  top: -45px;
}
@media (min-width: 2000px) {
  .clients-section .clients-holder .clients-reviews-holder {
    max-width: 1920px;
  }
}
@media (max-width: 1200px) {
  .clients-section {
    padding: 0px;
  }
  .clients-section .clients-holder .clients-header .number-icon {
    max-width: 75px;
  }
  .clients-section .clients-holder .clients-header h2 {
    font-size: 55px;
    margin-bottom: -35px;
    margin-left: -22px;
  }
  .clients-section .clients-holder .clients-header h2::before {
    background-size: contain;
  }
  .clients-section .clients-holder .clients-reviews-holder .review-card {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0% !important;
  }
  .clients-section .clients-holder .clients-reviews-holder .review-card:nth-of-type(2) {
    margin-top: 5%;
    transform: rotateZ(-1deg);
  }
  .clients-section .clients-holder .clients-reviews-holder .review-card:nth-of-type(3) {
    margin-top: 5%;
    transform: rotateZ(1deg);
  }
  .clients-section .clients-holder .clients-reviews-holder .review-card:nth-of-type(4) {
    margin-left: 0% !important;
    margin-top: 5% !important;
    transform: rotateZ(2deg) !important;
  }
}
@media (max-width: 650px) {
  .clients-section .clients-holder .clients-reviews-holder .review-card .review-header {
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: flex-start;
  }
  .clients-section .clients-holder .clients-reviews-holder .review-card .review-header img {
    display: block;
    max-width: 75px;
    height: auto;
  }
}
@media (max-width: 550px) {
  .clients-section .clients-holder .clients-header .number-icon {
    max-width: 40px;
  }
  .clients-section .clients-holder .clients-header h2 {
    font-size: 33px;
    margin-bottom: -20px;
    margin-left: -12px;
  }
  .clients-section .clients-holder .clients-header h2::before {
    right: -50px;
  }
  .clients-section .clients-holder .clients-reviews-holder {
    margin-top: 60px;
  }
  .clients-section .clients-holder .clients-reviews-holder .review-card {
    padding: 20px;
    gap: 16px;
    overflow-x: hidden;
  }
  .clients-section .clients-holder .clients-reviews-holder .review-card .review-content {
    font-size: 22px;
    line-height: unset;
  }
  .clients-section .clients-holder .clients-reviews-holder .review-card .review-header {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: 60px;
  }
  .clients-section .clients-holder .clients-reviews-holder .review-card .review-header img {
    max-height: 55px;
  }
  .clients-section .clients-holder .clients-reviews-holder .review-card .review-header h4 {
    width: 100%;
    line-height: unset;
    font-size: 18px;
  }
  .clients-section .clients-holder .clients-reviews-holder .review-card .review-header p {
    width: 100%;
    line-height: unset;
    font-size: 16px;
  }
}

.contact-us-section {
  padding: 145px 0px;
}
.contact-us-section .contact-us-holder {
  padding: 60px 20px;
  position: relative;
  margin: 0px auto;
  max-width: 1500px;
  border-radius: 2px;
  border: 6px solid #000;
  background: #FFF;
  box-shadow: 21px 21px 0px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-us-section .contact-us-holder h2 {
  color: #000;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-us-section .contact-us-holder p {
  max-width: 1100px;
  margin: 35px auto 45px;
  color: #000;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-us-section .contact-us-holder .contact-us-btn {
  display: block;
  position: relative;
}
.contact-us-section .contact-us-holder .contact-us-btn .btn {
  display: block;
  padding: 30px 55px;
  border-radius: 92px;
  border: 8px solid #000;
  background: #91D1FF;
  color: #000;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.contact-us-section .contact-us-holder .contact-us-btn .icon {
  position: absolute;
  right: -80px;
  bottom: -40px;
}
@media (max-width: 1200px) {
  .contact-us-section .contact-us-holder .contact-us-btn .btn {
    padding: 25px 35px;
    border: 5px solid #000;
    font-size: 22px;
  }
  .contact-us-section .contact-us-holder .contact-us-btn .icon {
    right: -60px;
    bottom: -45px;
    scale: 0.7;
  }
}
@media (max-width: 768px) {
  .contact-us-section .contact-us-holder .contact-us-btn .btn {
    padding: 15px 25px;
    border: 4px solid #000;
    font-size: 20px;
  }
  .contact-us-section .contact-us-holder .contact-us-btn .icon {
    transform: scale(0.7);
    right: -60px;
    bottom: -50px;
  }
}
@media (max-width: 550px) {
  .contact-us-section .contact-us-holder .contact-us-btn .btn {
    padding: 15px 25px;
    border: 4px solid #000;
    font-size: 16px;
  }
  .contact-us-section .contact-us-holder .contact-us-btn .icon {
    transform: scale(0.5);
    right: -50px;
    bottom: -45px;
  }
}
.contact-us-section .contact-us-holder .contact-us-element {
  position: absolute;
  top: -15%;
  right: 100px;
}
@media (max-width: 550px) {
  .contact-us-section .contact-us-holder {
    border: 4px solid #000;
    padding: 40px 20px;
  }
  .contact-us-section .contact-us-holder h2 {
    font-size: 32px;
  }
  .contact-us-section .contact-us-holder p {
    font-size: 20px;
  }
  .contact-us-section .contact-us-holder .contact-us-element {
    scale: 0.6;
    top: -20%;
    right: 10px;
  }
}

footer {
  padding: 35px 0px;
  background: #000;
}
footer .footer-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-holder .footer-logo img {
  max-width: 200px;
  height: auto;
  display: block;
}
footer .footer-holder .footer-content p {
  color: #FFF;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer .footer-holder .footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
footer .footer-holder .footer-social a {
  transition: 0.3s ease;
}
footer .footer-holder .footer-social a:hover {
  transform: scale(1.1);
}
@media (max-width: 1024px) {
  footer .footer-holder {
    flex-wrap: wrap;
    gap: 50px;
  }
  footer .footer-holder .footer-content {
    order: 3;
    flex: 0 0 100%;
    text-align: center;
  }
}
@media (max-width: 550px) {
  footer .footer-holder .footer-logo {
    max-width: 30%;
  }
  footer .footer-holder .footer-logo img {
    max-width: 100%;
  }
}

.game-ball {
  background-color: white;
  z-index: 10;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  position: sticky;
  left: 5%;
  top: 5%;
  padding: 10px 25px;
  border-radius: 50px;
  border: 3px dashed black;
}
.game-ball .stop-game {
  top: -15px;
  right: -15px;
  position: absolute;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: red;
  transition: 0.2s ease-in;
}
.game-ball .stop-game:hover {
  cursor: pointer;
  filter: drop-shadow(6px 2px 2px #C5A1FF);
}
.game-ball .game-header {
  pointer-events: none;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.game-ball .game-result {
  pointer-events: none;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.game-ball .game-result p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1350px) {
  .game-ball {
    display: none;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1980px));
  }
}
@keyframes roll {
  0% {
    transform: rotateZ(0deg);
    left: calc(0% + 60px);
  }
  50% {
    transform: rotateZ(780deg);
    left: calc(100% - 160px);
  }
  0% {
    transform: rotateZ(0deg);
    left: calc(0% + 60px);
  }
}/*# sourceMappingURL=style.css.map */